<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<title>Merchandiser App</title>
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item"><i class="comment icon"></i>MerchBud</div>
		</div>
		<div class="ui simple dropdown item">
		  <div class="text">Store</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		    <a href="/items" class="item">Any</a>
		    <a href="/items/store/foodco" class="item">FoodCo</a>
		    <a href="/items/store/walmart" class="item">Walmart</a>
		    <a href="/items/store/costless" class="item">Costless</a>
		    <a href="/items/store/bestbuy" class="item">BestBuy</a>
		    <a href="/items/store/savemart" class="item">SaveMart</a>
		    <a href="/items/store/exchange" class="item">Exchange</a>
		    <a href="/items/store/jetmart" class="item">JetMart</a>
		  </div>
		</div>
		<a href="/" class="item">Home</a>
		<a href="/items/new" class="item">New Item</a>
		
	</div>