<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<title>Merchandiser App</title>
	<meta content='width=device-width, initial-scale=1' name='viewport'/>
</head>
<body>
	<div id="masterContainer">
	<div class="ui fixed inverted menu" id="mainNav">
		<div class="ui container">
			<div class="header item"><i class="comment icon"></i>MerchBud</div>
		</div>
		<div class="ui dropdown item">
		  <div class="text">Store</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		    <a href="/items" class="item">Any</a>
		    <a href="/items/store/foodco" class="item">FoodCo</a>
		    <a href="/items/store/walmart" class="item">Walmart</a>
		    <a href="/items/store/costless" class="item">Costless</a>
		    <a href="/items/store/bestbuy" class="item">BestBuy</a>
		    <a href="/items/store/savemart" class="item">SaveMart</a>
		    <a href="/items/store/exchange" class="item">Exchange</a>
		    <a href="/items/store/jetmart" class="item">JetMart</a>
		  </div>
		</div>
		<a href="/" class="item">Home</a>
		<a href="/items/new" class="item">New Item</a>
		
	</div>

	<script>
    $('.ui.dropdown').dropdown();
</script>