<% include partials/header.ejs %>
<form class="ui form" method="POST" action="/routineItem">
	<div class="field">
		<label>Name</label>
		<input type="text" name="routineItem[name]" placeholder="name of item">
	</div>
	<div class="field hidden">
		<label>Store</label>
		<select class="ui fluid dropdown" name="routineItem[store]" required="true">
			<option value=""> </option>
			<option value="foodco" <% if (storeName=="foodco") { %> selected="true" <% } %>>FoodCo</option>
			<option value="walmart" <% if (storeName=="walmart") { %> selected="true" <% } %>>WalMart</option>
			<option value="costless" <% if (storeName=="costless") { %> selected="true" <% } %>>CostLess</option>
			<option value="bestbuy" <% if (storeName=="bestbuy") { %> selected="true" <% } %>>BestBuy</option>
			<option value="savemart" <% if (storeName=="savemart") { %> selected="true" <% } %>>SaveMart</option>
			<option value="exchange" <% if (storeName=="exhchange") { %> selected="true" <% } %>>NavyExchange</option>
			<option value="jetmart" <% if (storeName=="jetmart") { %> selected="true" <% } %>>JetMart</option>
		</select>
	</div>
	<div class="field">
		<label>Type</label>
		<select class="ui fluid dropdown" name="routineItem[type]" required="true">
			<option value=""> </option>
			<option value="Plastic">Plastic</option>
			<option value="Glass">Glass</option>
			<option value="Beer">Beer</option>
			<option value="Bang">Bang</option>
			<option value="Water">Water</option>
			<option value="Calypso">Calypso</option>
			<option value="Arizona">Arizona</option>
		</select>
	</div>
	<div class="field">
		<label>Amount</label>
		<input type="number" name="routineItem[amount]" placeholder="amount" required="true">
	</div>
	<div class="field">
		<label>Index</label>
		<input type="number" name="routineItem[index]" placeholder="index" required="true">
	</div>
	<button class="ui button blue fluid" type="submit">Submit</button>
</form>
<% include partials/footer.ejs %>