
<% include partials/header.ejs %>

<% function capitalize(string)  { %>

    <% return string.charAt(0).toUpperCase() + string.slice(1); %>

<% } %>



<h1>New Item For <%= capitalize(storeName) %></h1>

<form class="ui form" method="POST" action="/items">
	<div class="field">
		<label>Name</label>
		<input type="text" name="item[name]" placeholder="name of item">
	</div>
	<div class="field hidden">
		<label>Image</label>
		<input type="text" name="item[image]" placeholder="image url">
	</div>
	<div class="field hidden">
		<label>Store</label>
		<select class="ui fluid dropdown" name="item[store]" required="true">
			<option value=""> </option>
			<option value="foodco" <% if (storeName=="foodco") { %> selected="true" <% } %>>FoodCo</option>
			<option value="walmart" <% if (storeName=="walmart") { %> selected="true" <% } %>>WalMart</option>
			<option value="costless" <% if (storeName=="costless") { %> selected="true" <% } %>>CostLess</option>
			<option value="bestbuy" <% if (storeName=="bestbuy") { %> selected="true" <% } %>>BestBuy</option>
			<option value="savemart" <% if (storeName=="savemart") { %> selected="true" <% } %>>SaveMart</option>
			<option value="exchange" <% if (storeName=="exhchange") { %> selected="true" <% } %>>NavyExchange</option>
			<option value="jetmart" <% if (storeName=="jetmart") { %> selected="true" <% } %>>JetMart</option>
		</select>
	</div>
	<div class="field">
		<label>Type</label>
		<!-- <select class="ui fluid dropdown" name="item[type]" required="true">
			<option value=""> </option>
			<option value="Plastic">Plastic</option>
			<option value="Glass">Glass</option>
			<option value="Beer">Beer</option>
			<option value="Bang">Bang</option>
			<option value="Water">Water</option>
			<option value="Calypso">Calypso</option>
			<option value="Arizona">Arizona</option>
		</select> -->
		
			<input type="radio" name="item[type]" value="Plastic" required class="item">Plastic
			<input type="radio" name="item[type]" value="Glass" >Glass
			<input type="radio" name="item[type]" value="Beer" >Beer
			<input type="radio" name="item[type]" value="Bang" >Bang
			<input type="radio" name="item[type]" value="Water" >Water
			<input type="radio" name="item[type]" value="Calypso" >Calypso
			<input type="radio" name="item[type]" value="Arizona" >Arizona
		
		
	</div>
	<div class="field">
		<label>Amount</label>
		<div class="ui icon buttons tiny">
		<div class="ui button plusBtn">
			<i class="plus icon"></i>	
		</div>
		<div class="ui button minusBtn">
			<i class="minus icon"></i>	
		</div>
		</div>
		<input type="number" class="numInput" name="item[amount]" placeholder="amount" required="true" value="0">
	</div>
	<div class="field hidden">
		<label>List Count</label>
		<div class="ui icon buttons tiny">
		<div class="ui button plusBtn">
			<i class="plus icon"></i>	
		</div>
		<div class="ui button minusBtn">
			<i class="minus icon"></i>	
		</div>
		</div>
		<input class="numInput" type="number" name="item[listCount]" placeholder="list count" required="true"  value="0">
	</div>
	<div class="field hidden">
		<label>Index</label>
		<div class="ui icon buttons tiny">
		<div class="ui button plusBtn">
			<i class="plus icon"></i>	
		</div>
		<div class="ui button minusBtn">
			<i class="minus icon"></i>	
		</div>
		</div>
		<input class="numInput" type="number" name="item[index]" placeholder="index" required="true"  value="0">
	</div>
	<button class="ui button blue fluid" type="submit">Submit</button>
</form>




<script type="text/javascript">
	$(".plusBtn").click(function(){
		var numInput = $(this).parent().siblings("input")
		var newVal = parseInt(numInput.val())
		newVal+=1;
		numInput.val(newVal)
	})
	$(".minusBtn").click(function(){
		var numInput = $(this).parent().siblings("input")
		var newVal = parseInt(numInput.val())
		newVal-=1;
		numInput.val(newVal)
	})
</script>

<% include partials/footer.ejs %>