<% include partials/header.ejs %>

<form action="/register" method="post" class="ui form">
	<div class="field">
		<label>Username</label>
		<input type="text" name="username" placeholder="username">
	</div>
	<div class="field">
		<label>Password</label>
		<input type="password" name="password" placeholder="password">
	</div>
	<button class="ui submit button">Sign Up</button>
</form>
already signed up?<a href="/login"> Login here</a>

<% include partials/footer.ejs %>