<% include partials/header.ejs %>

<div class="ui segment">
	<h1 class="ui header">The Warehouse</h1>
	<p class="ui info">These are all the products we distribute.</p>
	<p class="ui info">Are we missing one?</p>
	<a href="/warehouse/new" class="btn btn-primary">Add New Warehouse Item</a>
</div>
<div class="ui grid">
	<div class="three column row">
		<% for (var i = 0; i < warehouseItems.length; i++) { -%>
			<div class="column">
				<div class="ui card">
					<div class="header">
						<%= warehouseItems[i].name %>
					</div>
					<div class="meta">
						<%= warehouseItems[i].type %>
						<a href="/warehouse/<%=warehouseItems[i]._id%>"><i class="wrench icon"></i></a>
					</div>
				</div>
			</div>
		<% } -%>
	</div>
</div>


<% include partials/footer.ejs %>