<% include partials/header.ejs %>

<div class="ui segment">
	<h1 class="ui header">The Warehouse</h1>
	<p class="ui info">These are all the products we distribute.</p>
	<p class="ui info">Are we missing one?</p>
	<a href="/warehouse/new" class="btn btn-primary">Add New Warehouse Item</a>
</div>



<% include partials/footer.ejs %>