html {
	@media handheld {width: 300px; }
}

body {
	margin-top: 50px;
}

.form {
	padding: 5px;
}

.ui.vertical.menu {
	width: 500px;
}

.buttons.mini {
	width: 85px;
}

.invisiform input {
	display: none;
}