/*@media (hover:none) {
	html {
		font-size: 3em;
	}
	#mainNav {
		font-size: 2em;
	}
	.icon.buttons.right {
		margin-right: 90px;
	}
}*/

body {
	margin-top: 50px;
}

.form {
	padding: 5px;
}



.buttons.mini {
	width: 85px;
}

.invisiform input {
	display: none;
}