/*@media (hover:none) {
	html {
		font-size: 3em;
	}
	#mainNav {
		font-size: 2em;
	}
	.icon.buttons.right {
		margin-right: 90px;
	}
}*/

* {
	padding: 0;
	margin: 0;
}

body {
	margin-top: 50px;
}

.form {
	padding: 5px;
}

/*.startListBtn {
	float: right;
}*/


.inline-block{
	display: inline-block;
}

.hideLeft {
	overflow: hidden;
	transition: all .5 ease;
	transform: translate(40px);
}

div.carousel {
	outline: 2px solid red;
	display: inline;
}

.buttons.mini {
	width: 85px;
}

.invisiform input, .hidden {
	display: none;
}

/*slide show css*/
.showSub {
	font-size: 14px;
	box-sizing: border-box;
	padding: 10px;
	height: 100%;
	width: 100%;
	display: inline-block;

}

.showSub:nth-child(odd){
	background-color: gray;
}

.showSub:nth-child(even){
	background-color: pink;
}

.showRow {
	box-sizing: border-box;
	height: 100%;
	transition: transform 0.5s ease;
}

.showMain {
	font-size: 0;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	height: 500px;
	/*border: 2px solid red;*/

	position: relative;
}

.ui.card {
	height: 100%;
}